/*Developed by @Vic_Cross*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
	width: 70%;
	margin: auto;
}
#titulo
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 29px;
	text-align: center;
}
#contenedorSlides div
{
	max-height: 100%;
}
#tituloSeleccion
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	top: 20px;
	position: relative;
}

#contenedorSeries
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	top: 20px;
	position: relative;
}
#contenedorSeries img
{
	position: relative;
	margin: auto;
	width: 100px;
	height: 100px;
}

.contenedorImagen 
{
	align:center;
}

#contenedorSeries span
{
	position: relative;
}
#encabezadoSerie
{
	display: inline-block;
}
.contenedorImagen
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*transition:border-left 2s, border-bottom 2s,border-right 2s,border-top 2s;*/
	/*-webkit-transition:border-left 2s, border-bottom 2s,border-right 2s,border-top 2s;*/
	/*-moz-transition:border-left 2s, border-bottom 2s,border-right 2s,border-top 2s;*/
	/*-o-transition:border-left 2s, border-bottom 2s,border-right 2s,border-top 2s;*/
}
/*
.contenedorImagen:hover
{
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
}
*/

.glyphicon-thumbs-up
{
	transition: color;
}

.glyphicon-thumbs-up:hover
{
	color: blue;
}

.contenedorImagen img
{
	transition: transform 2s;
	-webkit-transition:-webkit-transform 2s; 
	-moz-transition:-webkit-transform 2s; 
	-o-transition:-webkit-transform 2s; 
}

.contenedorImagen img:hover
{

	-webkit-transform: scale(1.5,1.5); 
	-moz-transform: scale(1.5,1.5); 
	-o-transform: scale(1.5,1.5); 
}

.jumbotron
{
	color: white;
	background: url("../img/nacho.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: blur(9);
	text-shadow: 0 0 10px black;
}

.resumen {
	font:normal normal 11px/1.4 'Open Sans Condensed', sans-serif;
	color:#333;
	width:200px;
	border:1px solid #344150;
	border-bottom:none;
	background-color:white;
	position:fixed;
	right:10px;
	bottom:0;
	z-index:9999;
	-webkit-box-shadow:1px 1px 5px rgba(0,0,0,.2);
	-moz-box-shadow:1px 1px 5px rgba(0,0,0,.2);
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

.resumen > input[type="checkbox"] {
	display:block;
	margin:0 0;
	padding:0 0;
	position:absolute;
	top:0;
	right:0;
	left:0;
	width:100%;
	height:26px;
	z-index:4;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
}

.resumen > label {
	display:block;
	height:24px;
	line-height:24px;
	background-color:#428BCA;
	color:white;
	font-weight:bold;
	padding:0 1em 1px;
	font-size: 15px;
}

.resumen .resumen-content {
	padding:10px;
	display:none;
	font-size: 15px;
	font-weight: bolder;
	max-height: 400px;
}

.resumen > label:before {content:attr(data-collapsed)}
.resumen > input[type="checkbox"]:hover + label {background-color:#639DCF}
.resumen > input[type="checkbox"]:checked + label {background-color:#3D9AEB}
.resumen > input[type="checkbox"]:checked + label:before {content:attr(data-expanded)}
.resumen > input[type="checkbox"]:checked ~ .resumen-content {display:block}

.glyphicon-arrow-right {
	font-size: 70px;
	float: right;
	margin-right: 20%;
	display: inline-block;
	cursor: pointer;
}

.glyphicon-arrow-left {
	font-size: 70px;
	float: left;
	margin-left: 20%;
	display: inline-block;
	visibility: hidden;
	cursor: pointer;
}

#paginaActual {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	margin-left: 50%;
	display: inline-block;
	float: left;
	top: -60px;
	position: relative;
}

#contenidoResumen
{
	overflow-y: auto;
}

#contenedorUsuario
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bolder;
}

/*Developed by @Vic_Cross*/
