.slider
{
	display: block;
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 960px;
	max-height: 540px;
	overflow: hidden;
}

.btnSlider
{
  position: absolute;
  display: block;
  bottom: 30px;
  margin: 0;
  padding: 0;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
}

.btnSlider:nth-child(1)
{
  left: 30px;
}

.btnSlider:nth-child(3)
{
  left: 60px;
}

.btnSlider:nth-child(5)
{
  left: 90px;
}

.btnSlider:nth-child(7)
{
  left: 120px;
}

.slider label
{
  position: absolute;
  bottom: 30px;
  width: 12px;
  height: 12px;
  background: rgba(50,50,50,.5);
  border-radius: 7px;
  z-index: 100;
  border: 1px solid #777;
}

.slider label:nth-child(2)
{
  left: 30px;
}
.slider label:nth-child(4)
{
  left: 60px;
}
.slider label:nth-child(6)
{
  left: 90px;
}
.slider label:nth-child(8)
{
  left: 120px;
}

.btnSlider:checked + label
{
  background: rgba(0,0,0,.6);
  border-color: #eee;
}

